a{
  text-decoration: none !important;
  color: #fff !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important;
  font-size: 20px;
}

.btnStyle{
  border-color: white;
  text-decoration-style: none;
  background: #16b7cd;
}

.positionCapacity{
  color: #16b7cd;
}

.homeheader{
  background-image: url("http://www.canadaupdates.com/wp-content/uploads/2017/05/onlineinterviews.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: #16b7cd;
}

.companyImage{
  background-image: url("http://ksassets.timeincuk.net/wp/uploads/sites/54/2016/03/now-og-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.user-Img{
  position: relative;
  padding: 5px 5px 5px 5px;
  width: 55px;
  clip-path: circle(20px at center);
}

.ourBlue{
  color: #16b7cd;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  background-color: lightgrey;
  width: 100%;
  padding: 10px 15px 10px 0px;
}

.menuIcons{
  padding: 0px 30px 0px 30px;
}

.createJobLink{
  border-radius: 25px;
  border: 1px solid white;
  padding: 10px 8px 10px 8px;
  background-color:rgba(22, 183, 205, 0.15);
}

.user-profile{
  clip-path: circle(60px at center);
  border: 3px solid white;
  border-radius: 50%;
  max-width: 100%;
}

.jobPostItem{
  float: left;
  width: 300px;
  padding: 20px;
  border: 2px solid #16b7cd;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color:rgba(22, 183, 205, 0.15);
}

* li{
    list-style-type: none;
}

input[type=text] {
  border: 1px solid #16b7cd;
  border-radius: 8px;
  width: 300px;
  height: 40px;
  text-align: center;
  background-color: white;
  color: #16b7cd;
  background-color:rgba(22, 183, 205, 0.15);
}

.dropdownTest{
  width: 300px!important;
  border: 1px solid #16b7cd!important;
  border-radius: 8px!important;
  width: 300px!important;
  height: 40px!important;
  text-align: center!important;
  color: #16b7cd!important;
  background-color:rgba(22, 183, 205, 0.15)!important;
}
/* nytt*/
input[type=textarea] {
  border: 1px solid #16b7cd;
  border-radius: 8px;
  width: 300px;
  height: 80px;
  text-align: center;
  color: #16b7cd;
  background-color:rgba(22, 183, 205, 0.15);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #16b7cd;
  text-align:center;
}

input[type=text]:focus {
  border-color: red;
  box-shadow: 0px 1px 1px rgba(255, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 0, 0, 0.9);
}

button{
  background-color: #16b7cd;
  border: 1px solid #16b7cd;
  border-radius: 8px;
  color: #16b7cd;
  height: 40px;
  width: 100px;
}

button2{
  background-color: rgba(98, 98, 98, 0.075);
  clip-path: circle(60px at center);
  border: 2px solid white;
  border-radius: 100%;
  color: #16b7cd;
  height: 50px;
  width: 50px;

}


.webCamera_rightAlign{
  position: absolute;
  right: 0px;
}

.webCamera_leftAlign{
  position: absolute;
  left: 0px;
  padding: 10px;
}

.checkList{
  text-align: left;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important;
  font-size: 18px;
}

.checkListItem{
  border-radius: 8px;
  width: 335px;
  padding: 15px;
  background-color: rgba(255, 255, 255, .7);
}

.attachIcon-profile{
  opacity: 0.3;
  width: 30px;
  height: 30px;
}



hr {
    display: block;
    width: 240px;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: -30px;
    margin-right: 0px;
    border-style: solid;
    border-width: 0.5px;
}


#circle {
  width: 40px;
  height: 40px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* sidenav burger css */
.menuBody{
  background: #fff;
}

.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 20px;
  color: #16b7cd;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  left: 170px;
}

.bm-cross {
  background: #5bccdc;
}

.bm-menu {
  background: #16b7cd;
  width: 210px;
  padding: 10px 5px 5px 20px;
}

.menu-item{
  color: #fff;
}

.bm-morph-shape {
  fill: #e7f7fa;
}



/* Round buttons */
.btn-round-lg{
  border-radius: 22.5px;
  border-color: white;
  text-decoration-style: none;
  background: #16b7cd;
}
.btn-round{
  border-radius: 17px;
}
.btn-round-sm{
  border-radius: 15px;
}
.btn-round-xs{
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}


/*webcamera css*/
#videoContainer {
  margin: 0px auto;
  width: 502px;
  height: 377px;
  border: 1px solid lightgrey;
}
#streamedVideo {
  width: 500px;
  height: 375px;
  background-color: rgba(255, 255, 255, .7);
}
.canvas {
  width: 450px;
  height: 325px;
  background-color: #666;
}



/* Card css test */

.container-fluid{
  width: 70%;

}

.card {
  /*overflow: hidden;*/
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 30%;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text {
  margin-bottom: 0;
  width: 30%;
 /* word-wrap: break-word;*/
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.card-primary .card-header,
.card-primary .card-footer {
    background-color: transparent;
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
    background-color: transparent;
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
    background-color: transparent;
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
    background-color: transparent;
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
    background-color: transparent;
}

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}

.card-inverse {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff;
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: calc(0.25rem - 1px);
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
    .card-deck {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-deck .card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card:not(:first-child) {
        margin-left: 15px;
    }
    .card-deck .card:not(:last-child) {
        margin-right: 15px;
    }
}

@media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .card-group .card {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    }
    .card-group .card + .card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.75rem;
    }
}


/* Step by step css */

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
